* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h2{
    font-size: 17px;
    font-family: 'lato', sans-serif;
    font-style: italic;
    font-weight: normal; 
    font-family: "Lato", sans-serif; 
    font-weight: 700;
    font-style: normal
}

.teste{ /* é da "class"*/
    color: red;
}

#teste{ /* é do "id"*/
    color: green;
}

.paragrafo{ 
    font-size: 30px;
}